
.app-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.context-container {
  margin: 16px;
}

.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.mat-toolbar img {
  margin-right: 6px;
}

.mat-nav-list img {
  margin-right: 4px;
}

.toolbar-fill-remaining-space {
  /* This fills the remaining space, by using flexbox. 
   Every toolbar row uses a flexbox row layout. */
  flex: 1 1 auto;
}

.margin-top-bottom--12 {
  margin: 12px 0px !important;
}
