<div class="app-container" >
  <mat-sidenav-container class="sidenav-container">
    <mat-sidenav #drawer class="sidenav" fixedInViewport="true"
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'" [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
      <mat-toolbar>Menu</mat-toolbar>
      <mat-nav-list>

        <h3 matSubheader class='margin-top-bottom--12'>
          <a [routerLink]="nav['home'].link" routerLinkActive="active-link"
            [routerLinkActiveOptions]="{ exact: nav['home'].exact }">
            <img src="{{nav['home'].img_src}}">{{nav['home'].name}}
          </a>
        </h3>
        <mat-divider></mat-divider>

        <h3 matSubheader class='margin-top-bottom--12'>
          <img src="{{nav['marketplace'].img_src}}">{{nav['marketplace'].name}}
        </h3>
        <mat-list-item>
          <a [routerLink]="nav['marketplace_all_products'].link" routerLinkActive="active-link"
            [routerLinkActiveOptions]="{ exact: nav['marketplace_all_products'].exact }">
            <img src="{{nav['marketplace_all_products'].img_src}}">{{nav['marketplace_all_products'].name}}
          </a>
        </mat-list-item>
        <mat-list-item>
          <a [routerLink]="nav['marketplace_new_product'].link" routerLinkActive="active-link"
            [routerLinkActiveOptions]="{ exact: nav['marketplace_new_product'].exact }">
            <img src="{{nav['marketplace_new_product'].img_src}}">{{nav['marketplace_new_product'].name}}
          </a>
        </mat-list-item>

        <mat-divider></mat-divider>

      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>

      <mat-toolbar color="primary" fxLayout="row">

        <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()"
          *ngIf="(isHandset$ | async)">
          <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
        </button>

        <span fxFlex>
          <span fxLayout="row" fxLayoutAlign="start center">
            <img src="./assets/img/ether-32.png">
            FleaMarket Escrow DApp
          </span>

        </span>

        <div fxFlex="15" *ngIf="balance$ | async as balance">
          <span fxLayout="row" fxLayoutAlign="center center">
            Balance:
            <mat-chip-list fxFlexOffset="10px">
              <mat-chip color="accent" selected>{{balance}}</mat-chip>
            </mat-chip-list>
          </span>
        </div>

        <div fxFlex="15" *ngIf="ipfsConnect$ | async as ipfsConnect">
          <span fxLayout="row" fxLayoutAlign="center center">
            IPFS Connect:
            <div fxFlexOffset="10px" *ngIf="ipfsConnect">🔵</div>
            <div fxFlexOffset="10px" *ngIf="!ipfsConnect">🔴</div>
          </span>
        </div>

      </mat-toolbar>

      <!-- Add Content Here -->
      <div class="context-container">
        <router-outlet></router-outlet>
      </div>


    </mat-sidenav-content>
  </mat-sidenav-container>

  <mat-toolbar fxLayout="row" fxLayoutAlign="end center">

    <div fxFlex="15" *ngIf="network$ | async as network">
      <span fxLayout="row" fxLayoutAlign="center center">
        Network:
        <mat-chip-list fxFlexOffset="10px">
          <mat-chip color="primary" selected>{{network}}</mat-chip>
        </mat-chip-list>
      </span>
    </div>

    <div fxFlex="30">
      <span fxLayout="row" fxLayoutAlign="center center">
        <img #blocky>
        <mat-chip-list fxFlexOffset="10px" *ngIf="account$ | async as account">
          <mat-chip color="primary" selected>{{account}}</mat-chip>
        </mat-chip-list>
      </span>

    </div>

  </mat-toolbar>

</div>

