<div class="app-container" *ngIf="{account: account$ | async, network: network$ | async, 
  balance: balance$ | async, ipfsConnect: ipfsConnect$ | async} as values;">

  <mat-sidenav-container class="sidenav-container">
    <mat-sidenav #drawer class="sidenav" fixedInViewport="true"
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'" [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
      <mat-toolbar>Menu</mat-toolbar>
      <mat-nav-list>

        <h3 matSubheader class='margin-top-bottom--12'>
          <a [routerLink]="nav['home'].link" routerLinkActive="active-link"
            [routerLinkActiveOptions]="{ exact: nav['home'].exact }">
            <img src="{{nav['home'].img_src}}">{{nav['home'].name}}
          </a>
        </h3>
        <mat-divider></mat-divider>

        <h3 matSubheader class='margin-top-bottom--12'>
          <a [routerLink]="nav['marketplace'].link" routerLinkActive="active-link"
            [routerLinkActiveOptions]="{ exact: nav['marketplace'].exact }">
            <img src="{{nav['marketplace'].img_src}}">{{nav['marketplace'].name}}
          </a>
        </h3>
        <mat-divider></mat-divider>

      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>

      <mat-toolbar color="primary" fxLayout="row">

        <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()"
          *ngIf="(isHandset$ | async)">
          <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
        </button>

        <span fxFlex>
          <span fxLayout="row" fxLayoutAlign="start center">
            <img src="./assets/img/ether-32.png">
            FleaMarket Escrow DApp
          </span>

        </span>


        <ng-container *ngIf="values.account; then authorized; else unauthorized">
        </ng-container>

        <ng-template #authorized>

          <div fxFlex="15">
            <span fxLayout="row" fxLayoutAlign="end center" >
              Balance:
              <mat-chip-list fxFlexOffset="10px">
                <mat-chip color="accent" selected>{{values.balance}}</mat-chip>
              </mat-chip-list>
            </span>
          </div>

          <div fxFlex="15">
            <span fxLayout="row" fxLayoutAlign="end center">
              IPFS Connect:
              <div fxFlexOffset="10px" *ngIf="values.ipfsConnect">🔵</div>
              <div fxFlexOffset="10px" *ngIf="!values.ipfsConnect">🔴</div>
            </span>
          </div>


        </ng-template>

        <ng-template #unauthorized>
        </ng-template>




      </mat-toolbar>

      <!-- Add Content Here -->
      <app-loader></app-loader>

      <router-outlet></router-outlet>

    </mat-sidenav-content>
  </mat-sidenav-container>

  <mat-toolbar>


    <span class="toolbar-fill-remaining-space"></span>

    <!--
    <div fxFlex="10">Account:</div>
            <mat-chip-list>
              <mat-chip color="primary" selected>{{values.account}}</mat-chip>
            </mat-chip-list>

 <div class="mat-subheading-1 margin-top--18">Ebipps Env: {{env$ | async}}</div> -->
  </mat-toolbar>

</div>